<div class="block notice">
  <h3>What is this?</h3>
  <div class="content">
    <p>This is a simple starter project for filtering messages from the <a href="http://dev.twitter.com/docs/streaming-api">Twitter Streaming API</a> into a webapp using <a href="http://pusher.com">Pusher</a> for realtime, in-browser updates.</p>
    <p>To try it out, simply create a <a href="<%= new_scribble_path %>">new</a> Scribble and click 'Follow' to see the realtime feed for your tags.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="http://github.com/mgreen/scribbler">Source Code</a></li>
  </ul>
</div>
